input[type=text], input[type=password],input[type=email],input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: 0;
    background: #e4e4e4;
}
.container {
    padding: 30px;
    margin: 0%;
    margin-top: -30;
}
.modal2 {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: url(H:/github_demo/MyNewPorject/icon/Login_icon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content2 {
    /*background-color: #fefefe;*/
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 0px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    margin-top: -2%;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 45%;
    box-shadow: 0px 1px 3px 0px #707070;
    margin-right: 10px;
  }
  register_back {
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
  }
  
/*.heading {
    background : #1ec4f7;
  }*/